{% extends 'base.html' %}

{% block title %} T-Sketch {% endblock %}

{% block content %}

<section class="app-section">
    <h4 class="pt-3 text-center">Select a file</h4>
    <form class="sketch-form" action="{{url_for('sketch', type='file')}}" method="POST" enctype="multipart/form-data">
      <input type="file" id="file" name='file' class="form-control">
      <input type='submit' value="Make Sketch" class='btn btn-primary ms-2'>
    </form>

    <h5 class="text-center"> OR you could also paste a <a data-bs-toggle="modal" href="#ModalUrlLink">URL</a></h5>


     <!-- Modals For URL links-->
    <div class="modal fade" id="ModalUrlLink" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLab">Image URL</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form action="{{url_for('sketch', type='url')}}" method="post">
                <div class="input-group mb-3">
                    <input type="text" name="link" class="form-control" placeholder="URL address" aria-label="email" aria-describedby="basic-addon1">
                    <input class="btn btn-primary" data-bs-dismiss="modal" type="submit" value="Make Sketch">
                </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    <!-- Chat Gpt Generate -->

  </section>

  <p class="alternate-option" ></p>

<section class="app-section mt-5">
  <h4 class="pt-3 text-center text-danger">Describe an image to sketch</h4>
  <form class="sketch-form" action="{{url_for('sketch', type='text_img')}}" method="POST">
    <input type="text" name="described_img" id="" class="form-control" placeholder="Describe an Image to Sketch">
    <input type='submit' value="Make Sketch" class='btn btn-danger ms-2'>
  </form>
</section>

<div class="about app-section mt-5">
  <h1> About </h1>

  <h5 class="mb-4 text-secondary">About Application</h5>
  <p> <strong>T-Sketch</strong> is a web application created by flask a python FrameWork that enable users to sketch any uploaded image. It was modified further using AI to create sketches on any image. </p>
  <p> T-Sketch was developed with  <strong>Html</strong>, <strong>Css</strong>, <strong>Bootstrap</strong>, <strong>JavaScript</strong> and <strong>Flask</strong>. </p>

    <h4>Whats the idea?</h4>
    <p>Sketches are an irreplaceable method of recording thoughts and of correcting the 
      design process. They are a means of discovering and examining reality which supports 
      the development of imagination. Sketching is an essential element in the education of architects and a crucial ingredient 
      of their professional skills.</p>

    <p>Drawing beats out reading and writing to help students remember concepts. Research has shown that drawing can be a potent tool for learning. It can help students understand content better and and retain information more effectively. </p>
<!--        <ul>-->
<!--            <li>Html</li>-->
<!--            <li>Css</li>-->
<!--            <li>Bootstrap</li>-->
<!--            <li>Python</li>-->
<!--            <li>Graphics design</li>-->
<!--            <li>Javascript</li>-->

<!--        </ul>-->



</div>



{% endblock %}





