{% extends 'base.html' %}

{% block title %} T-Sketch {% endblock %}

{% block content %}

<div class="app-section">

    <form class="sketch-form" action="{{url_for('sketch', type='file')}}" method="POST" enctype="multipart/form-data">
      <input type="file" id="file" name='file' class="form-control">
      <input type='submit' value="Make Sketch" class='btn btn-primary ms-2'>
    </form>

    <h5 class="text-center"> OR you could also paste a <a data-bs-toggle="modal" href="#ModalUrlLink">URL</a></h5>


     <!-- Modals For URL links-->
    <div class="modal fade" id="ModalUrlLink" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLab">Image URL</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form action="{{url_for('sketch', type='url')}}" method="post">
                <div class="input-group mb-3">
                    <input type="text" name="link" class="form-control" placeholder="URL address" aria-label="email" aria-describedby="basic-addon1">
                    <input class="btn btn-primary" data-bs-dismiss="modal" type="submit" value="Make Sketch">
                </div>
            </form>
          </div>

        </div>
      </div>
    </div>
</div>


<div class="about app-section mt-5">
    <h1> About </h1>

    <h5 class="mb-4 text-secondary">About Application</h5>
    <p> <strong>T-Sketch</strong> is a web application that enables Users to sketch a picture either by uploading or pasting URL. </p>
    <p> This application was developed by a 14 years programmer <strong>Erinle Tomisin</strong> for an <a href="http://www.aptechabeokuta.com.ng/" target="_blank"> Aptech Career Quest presentation</a>.</p>
    <p> T-Sketch was developed with  <strong>Html</strong>, <strong>Css</strong>, <strong>Bootstrap</strong>, <strong>JavaScript</strong> and <strong>Flask</strong>. </p>

    <!--About me-->
    <h5 class="mt-5 mb-4 text-secondary">About Developer</h5>
    <div class="">
        <img class="d-block rounded-circle border m-auto mb-4" src="static/images/portfolio-2-TSketch-removebg-preview.png" alt="my_pics" srcset="" width="150px" height="150px">
        <p class="mb-5"> <strong>Erinle Tomisin</strong> is a 14 years old <strong> Website Designer, Data Scientist and a Graphic Designer </strong>  having the knowledge of above 4 Programming language, 3 Frameworks and 15 different modules in python.</p>

        <h5 class="my-3 text-center">Contact</h5>

       <div class="row border py-3">
              <div class="col-12 col-sm-6">
                <ul style="list-style-type: none;">
                  <li><strong>Name: </strong>Erinle Tomisin</li>
                  <li><strong>Phone: </strong>+234 814 523 5799</li>
                  <li><strong>Email: </strong>tomisinerinle4@gmail.com</li>
                </ul>
              </div>

              <div class="col-12 col-sm-6 ps-sm-2">
                <ul style="list-style-type: none;">
                  <li><strong>Age: </strong>14</li>
                  <li><strong>City: </strong>Abeokuta, NIGERIA</li>
                  <li><strong>Freelancer: </strong>Available</li>
                </ul>
              </div>

<!--        <ul>-->
<!--            <li>Html</li>-->
<!--            <li>Css</li>-->
<!--            <li>Bootstrap</li>-->
<!--            <li>Python</li>-->
<!--            <li>Graphics design</li>-->
<!--            <li>Javascript</li>-->

<!--        </ul>-->
    </div>



</div>

</div>
{% if sketch_img_name %}


{% endif %}

{% endblock %}





